

table {
   text-align: center;
   vertical-align: middle;
}

.col-id {
   width: 100px;
}

.col-name {
   width: 550px;
}

.col-created {
   width: 300px;
}

.col-status {
   width: 100px;
}

.col-action {
   width: 350px;
}

.navbar {
   background-color: #e0e0e0;
}

.form-control.search-input {
   width: 350px;
}