
.table-bordered {
    text-align: center;
    vertical-align: middle;
}

.col-id {
    width: 50px;
}

.col-name {
    width: 280px;
}

.col-priority {
    width: 50px;
}

.col-created {
    width: 150px;
}

.col-status {
    width: 70px;
}

.col-author {
    width: 150px;
}

.col-action {
    width: 230px;
}